SECRET_KEY="YOUR DJANGO KEY"
DEBUG="0 or 1"
POSTGRES="0 or 1"

ALLOWED_HOSTS="Comma separated front-end URLs"

#CLOUDINARY_STORAGE
CLOUD_NAME="CLOUD_NAME"
API_KEY="API_KEY"
API_SECRET="API_SECRET"

EMAIL_HOST_USER="user@example.com"
EMAIL_HOST_PASSWORD="password"

REDIS_URL="REDIS_URL"

POSTGRES_PASSWORD="DB_PASSWORD"
POSTGRES_USER="DB_USER"
POSTGRES_NAME="DB_NAME"
POSTGRES_HOST="DB_HOST"
POSTGRES_PORT="DB_PORT"

STRIPE_SECRET_KEY="STRIPE_SECRET_KEY"

PASSWORD_RESET_BASE_URL="RESET_PASSWORD_URL"