SECRET_KEY="YOUR DJANGO KEY"
DEBUG="0 or 1"

#CLOUDINARY_STORAGE
CLOUD_NAME="CLOUD_NAME"
API_KEY="API_KEY"
API_SECRET="API_SECRET"


POSTGRES_PASSWORD="DB_PASSWORD"
POSTGRES_USER="DB_USER"
POSTGRES_NAME="DB_NAME"
POSTGRES_HOST="DB_HOST"
POSTGRES_PORT="DB_PORT"

